In [36]:
#Importamos librerias

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [37]:
#Creamos dataset

df_test = pd.read_csv('test.csv')
df_train = pd.read_csv('train.csv')

In [38]:
#Vemos cómo son los dataset

print(df_test.head())
print(df_train.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [39]:
#Tamaño de los dataset

print(df_train.shape)
print(df_test.shape)

(891, 12)
(418, 11)

In [40]:
#Buscamos info sobre los dataset

print(df_train.info())
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [41]:
#Buscamos valores nulos

print(pd.isnull(df_train).sum())
print(pd.isnull(df_test).sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [42]:
#Vemos como van quedando los datos

print(df_train.describe())
print(df_test.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [43]:
#Sustituimos el género por números para convertir estas variables a numérico

df_train['Sex'].replace(['female', 'male'], [0,1], inplace = True)
df_test['Sex'].replace(['female', 'male'], [0,1], inplace = True)

In [44]:
#Sustituimos las puertas de embarque por números para convertir estas variables a numérico

df_train['Embarked'].replace(['Q', 'S', 'C'],[0,1,2], inplace = True)
df_test['Embarked'].replace(['Q', 'S', 'C'],[0,1,2], inplace = True)

In [45]:
#Buscamos la media de edad de ambos dataset

print(df_train['Age'].mean())
print(df_test['Age'].mean())

29.69911764705882
30.272590361445783

In [46]:
#Establecemos la edad media en 30 ños y sustituinos los valores nulos por la media

promedio = 30

df_train['Age'] = df_train['Age'].replace(np.nan, promedio)
df_test['Age'] = df_test['Age'].replace(np.nan, promedio)

In [47]:
#Con estos datos creamos grupos de edades en rangos

bins = [0, 8, 15,18, 25, 40, 60, 100]
names = ['1', '2', '3', '4', '5', '6', '7']
df_train['Age'] = pd.cut(df_train['Age'], bins, labels = names)
df_test['Age'] = pd.cut(df_test['Age'], bins, labels = names)

In [48]:
#Eliminamos la columna 'cabin'

df_train.drop(['Cabin'], axis = 1, inplace = True)
df_test.drop(['Cabin'], axis = 1, inplace = True)

In [49]:
#Eliminamos más columnas que no nos sirven

df_train = df_train.drop(['PassengerId', 'Name', 'Ticket'], axis = 1)
df_test = df_test.drop(['Name', 'Ticket'], axis = 1)

In [50]:
#Eliminamos filas con valores nulos

df_train.dropna(axis = 0, how = 'any', inplace = True)
df_test.dropna(axis = 0, how = 'any', inplace = True)

In [51]:
#Vemos cómo queda nuestros datasets

print(df_train.shape)
print(df_test.shape)

print(df_test.head())
print(df_train.head())

(889, 8)
(417, 8)
   PassengerId  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0          892       3    1   5      0      0   7.8292         0
1          893       3    0   6      1      0   7.0000         1
2          894       2    1   7      0      0   9.6875         0
3          895       3    1   5      0      0   8.6625         1
4          896       3    0   4      1      1  12.2875         1
   Survived  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0         0       3    1   4      1      0   7.2500       1.0
1         1       1    0   5      1      0  71.2833       2.0
2         1       3    0   5      0      0   7.9250       1.0
3         1       1    0   5      1      0  53.1000       1.0
4         0       3    1   5      0      0   8.0500       1.0

In [52]:
#Definimos los valores X e Y, x será todo menos supervivientes e y será el target, que es supervivientes

X = np.array(df_train.drop(['Survived'], 1))
y = np.array(df_train['Survived'])

In [53]:
#Hacemos un split del 20%

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [54]:
#Entrnamos Regresión logística y vemos su precisión:

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print('Precisión regresión logística: ')
print(logreg.score(X_train, y_train))

Precisión regresión logística:
0.8157524613220816

In [55]:
#Entrnamos soporte de vectores y vemos su precisión:

svc = SVC()
svc.fit(X_train,y_train)
y_pred = svc.predict(X_test)
print('Precisión soporte de vectores: ')
print(svc.score(X_train, y_train))

Precisión soporte de vectores:
0.6624472573839663

In [56]:
#Entrnamos vecinos y vemos su precisión:

knn =KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
print('Precisión vecinos más cercanos: ')
print(knn.score(X_train, y_train))

Precisión vecinos más cercanos:
0.8677918424753868

In [57]:
#declaramos ids como variable para pasajero en el dataset del test

ids = df_test['PassengerId']

In [61]:
#Comprobamos la prediccion de la regresión logística

prediccion_logreg = logreg.predict(df_test.drop('PassengerId', axis = 1))
out_logreg = pd.DataFrame({'PassengerId': ids, 'Survived': prediccion_logreg})
print('Predicción regresión logística')
print(out_logreg.head(20))

Predicción regresión logística
    PassengerId  Survived
0           892         0
1           893         0
2           894         0
3           895         0
4           896         1
5           897         0
6           898         1
7           899         0
8           900         1
9           901         0
10          902         0
11          903         0
12          904         1
13          905         0
14          906         1
15          907         1
16          908         0
17          909         0
18          910         1
19          911         1

In [62]:
#Comprobamos la prediccion de soporte de vectores

prediccion_svc = svc.predict(df_test.drop('PassengerId', axis = 1))
out_svc = pd.DataFrame({'PassengerId': ids, 'Survived': prediccion_svc})
print('Predicción soporte vectores')
print(out_svc.head(20))

Predicción soporte vectores
    PassengerId  Survived
0           892         0
1           893         0
2           894         0
3           895         0
4           896         0
5           897         0
6           898         0
7           899         0
8           900         0
9           901         0
10          902         0
11          903         0
12          904         1
13          905         0
14          906         1
15          907         0
16          908         0
17          909         0
18          910         0
19          911         0

In [63]:
#Comprobamos la prediccion de vecinos

prediccion_knn = knn.predict(df_test.drop('PassengerId', axis = 1))
out_knn = pd.DataFrame({'PassengerId': ids, 'Survived': prediccion_knn})
print('Predicción vecinos más cercanos')
print(out_knn.head(20))

Predicción vecinos más cercanos
    PassengerId  Survived
0           892         0
1           893         0
2           894         1
3           895         0
4           896         1
5           897         0
6           898         1
7           899         1
8           900         1
9           901         0
10          902         0
11          903         1
12          904         1
13          905         0
14          906         0
15          907         1
16          908         1
17          909         1
18          910         0
19          911         0